In [66]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine
from time import time

In [38]:
pd.__version__

'2.0.3'

In [39]:
df = pd.read_parquet("yellow_tripdata_2025-01.parquet")
print(df.head(5).to_json(orient="records", lines=True))

{"VendorID":1,"tpep_pickup_datetime":1735690718000,"tpep_dropoff_datetime":1735691219000,"passenger_count":1.0,"trip_distance":1.6,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":229,"DOLocationID":237,"payment_type":1,"fare_amount":10.0,"extra":3.5,"mta_tax":0.5,"tip_amount":3.0,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":18.0,"congestion_surcharge":2.5,"Airport_fee":0.0}
{"VendorID":1,"tpep_pickup_datetime":1735691560000,"tpep_dropoff_datetime":1735691713000,"passenger_count":1.0,"trip_distance":0.5,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":236,"DOLocationID":237,"payment_type":1,"fare_amount":5.1,"extra":3.5,"mta_tax":0.5,"tip_amount":2.02,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":12.12,"congestion_surcharge":2.5,"Airport_fee":0.0}
{"VendorID":1,"tpep_pickup_datetime":1735692244000,"tpep_dropoff_datetime":1735692361000,"passenger_count":1.0,"trip_distance":0.6,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":141,"DOLocationID":141,"payment_type":1,"fare_amount":5.1,"extra":3.5,"mta_tax":0.5,"tip_amount":2.0,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":12.1,"congestion_surcharge":2.5,"Airport_fee":0.0}
{"VendorID":2,"tpep_pickup_datetime":1735690467000,"tpep_dropoff_datetime":1735690801000,"passenger_count":3.0,"trip_distance":0.52,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":244,"DOLocationID":244,"payment_type":2,"fare_amount":7.2,"extra":1.0,"mta_tax":0.5,"tip_amount":0.0,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":9.7,"congestion_surcharge":0.0,"Airport_fee":0.0}
{"VendorID":2,"tpep_pickup_datetime":1735690894000,"tpep_dropoff_datetime":1735691106000,"passenger_count":3.0,"trip_distance":0.66,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":244,"DOLocationID":116,"payment_type":2,"fare_amount":5.8,"extra":1.0,"mta_tax":0.5,"tip_amount":0.0,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":8.3,"congestion_surcharge":0.0,"Airport_fee":0.0}

In [40]:
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2025-01-01 00:18:38   2025-01-01 00:26:59              1.0
1         1  2025-01-01 00:32:40   2025-01-01 00:35:13              1.0
2         1  2025-01-01 00:44:04   2025-01-01 00:46:01              1.0
3         2  2025-01-01 00:14:27   2025-01-01 00:20:01              3.0
4         2  2025-01-01 00:21:34   2025-01-01 00:25:06              3.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.60         1.0                  N           229           237
1           0.50         1.0                  N           236           237
2           0.60         1.0                  N           141           141
3           0.52         1.0                  N           244           244
4           0.66         1.0                  N           244           116

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         10.0    3.5      0.5        3.00           0.0
1             1          5.1    3.5      0.5        2.02           0.0
2             1          5.1    3.5      0.5        2.00           0.0
3             2          7.2    1.0      0.5        0.00           0.0
4             2          5.8    1.0      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         18.00                   2.5          0.0
1                    1.0         12.12                   2.5          0.0
2                    1.0         12.10                   2.5          0.0
3                    1.0          9.70                   0.0          0.0
4                    1.0          8.30                   0.0          0.0

In [44]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [45]:
print(sql.get_schema(df, name='yellow_taxi_intf',con=engine))

CREATE TABLE yellow_taxi_intf (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [53]:
df.to_csv("yellow_tripdata_2025-01.csv", index=False)

In [55]:
df_iter = pd.read_csv("yellow_tripdata_2025-01.csv", iterator=True, chunksize=100000)

In [58]:
df =next(df_iter)

In [59]:
len(df)

100000

In [62]:
df.head(n=0).to_sql(name='yellow_taxi_intf',con=engine, if_exists='replace')

1000

In [65]:
%time df.to_sql(name='yellow_taxi_intf',con=engine, if_exists='append')

CPU times: total: 3.73 s
Wall time: 6.97 s

1000

In [69]:
while True:
     t_start = time()
     df = next(df_iter)
     %time df.to_sql(name='yellow_taxi_intf',con=engine, if_exists='append')
     t_end = time()
     print ('chunk inserted, cost %.3f second'%(t_end-t_start))

CPU times: total: 3.83 s
Wall time: 7.8 s
chunk inserted, cost 7.975 second
CPU times: total: 3.52 s
Wall time: 7.46 s
chunk inserted, cost 7.642 second
CPU times: total: 3.67 s
Wall time: 7.37 s
chunk inserted, cost 7.534 second
CPU times: total: 3.81 s
Wall time: 6.71 s
chunk inserted, cost 6.877 second
CPU times: total: 3.75 s
Wall time: 6.54 s
chunk inserted, cost 6.718 second
CPU times: total: 3.39 s
Wall time: 6.67 s
chunk inserted, cost 6.834 second
CPU times: total: 3.69 s
Wall time: 6.92 s
chunk inserted, cost 7.107 second
CPU times: total: 3.83 s
Wall time: 7.31 s
chunk inserted, cost 7.482 second
CPU times: total: 3.97 s
Wall time: 7.12 s
chunk inserted, cost 7.281 second
CPU times: total: 3.88 s
Wall time: 7.14 s
chunk inserted, cost 7.316 second
CPU times: total: 3.62 s
Wall time: 6.45 s
chunk inserted, cost 6.609 second
CPU times: total: 3.94 s
Wall time: 6.78 s
chunk inserted, cost 6.950 second
CPU times: total: 3.77 s
Wall time: 7.48 s
chunk inserted, cost 7.651 second
CPU times: total: 3.77 s
Wall time: 8.1 s
chunk inserted, cost 8.270 second
CPU times: total: 3.45 s
Wall time: 7.33 s
chunk inserted, cost 7.505 second
CPU times: total: 3.47 s
Wall time: 7.43 s
chunk inserted, cost 7.598 second
CPU times: total: 3.88 s
Wall time: 7.79 s
chunk inserted, cost 7.964 second
CPU times: total: 3.66 s
Wall time: 6.19 s
chunk inserted, cost 6.360 second
CPU times: total: 3.75 s
Wall time: 6.36 s
chunk inserted, cost 6.518 second
CPU times: total: 3.69 s
Wall time: 6.88 s
chunk inserted, cost 7.085 second
CPU times: total: 3.67 s
Wall time: 6.39 s
chunk inserted, cost 6.543 second
CPU times: total: 3.88 s
Wall time: 7.02 s
chunk inserted, cost 7.194 second
CPU times: total: 3.7 s
Wall time: 6.97 s
chunk inserted, cost 7.119 second
CPU times: total: 3.44 s
Wall time: 7.07 s
chunk inserted, cost 7.231 second
CPU times: total: 3.53 s
Wall time: 6.7 s
chunk inserted, cost 6.868 second
CPU times: total: 3.58 s
Wall time: 6.6 s
chunk inserted, cost 6.769 second
CPU times: total: 3.62 s
Wall time: 6.72 s
chunk inserted, cost 6.875 second
CPU times: total: 3.36 s
Wall time: 6.29 s
chunk inserted, cost 6.473 second

C:\Users\phamm\AppData\Local\Temp\ipykernel_38860\4035582148.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

CPU times: total: 3.11 s
Wall time: 5.66 s
chunk inserted, cost 5.807 second
CPU times: total: 3.14 s
Wall time: 7.25 s
chunk inserted, cost 7.388 second
CPU times: total: 3.3 s
Wall time: 6.47 s
chunk inserted, cost 6.642 second
CPU times: total: 2.98 s
Wall time: 5.69 s
chunk inserted, cost 5.839 second
CPU times: total: 3 s
Wall time: 6.08 s
chunk inserted, cost 6.214 second
CPU times: total: 2.33 s
Wall time: 4.88 s
chunk inserted, cost 4.985 second

StopIteration: